@charset "UTF-8";

/* ベース */

html {
  font-size: 100%;
}
body {
  color: #121212;
  font-family: "Noto Sans JP", sans-serif;
}
a {
    color: #121212;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}

/* 共通 */

.container {
  margin-left: 300px;
}
.wrapper {
  max-width: 900px;
  padding: 80px 20px;
  margin: 0 auto;
}
.site-title {
  width: 200px;
  line-height: 1px;
  margin-bottom: 30px;
}
.site-title a {
  display: block;
}
.sec-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  margin-bottom: 60px;
  text-align: center;
}
.sec-title::before,
.sec-title::after {
  border-top: 1px solid;
  content: "";
  width: 28%;
}

/* header */

#header {
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 40px 50px 30px 45px;
  position: fixed;
  top: 0;
  overflow-y: auto;
}
#header .nav-menu {
  margin-bottom: 60px;
}
#header li {
  font-size: 0.875rem;
  padding: 8px 0;
}